<%= render '/shared/page-title', title: 'Edit Exsisting Recipe'%>
<% if @recipe.errors.any?%>
	<div class="panel panel-danger">
		<div class="panel-heading">
			<div class="panel-title">
				<%= pluralize(@recipe.errors.count, "error")%>
				prohibited saved <%= @recipe.class %> from 
			</div>
			<div class="panel-body">
				<%= @recipe.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</div>
		</div>
	</div>
<% end %>

<div class="row">
	<div class="col-md-12">
		<%= form_for(@recipe, :html => {class: "form-horizontal", role:"form"}) do |new|%>
			<div class="form-group">
				<%= new.label :name%>
				<%= new.text_field :name , class: "form-control" ,placeholder: "Enter name of Recipe", autofocus: true %>

			</div>
			<div class="form-group">
				<%= new.label :description%>
				<%= new.text_area :description ,rows: 10 ,class: "form-control" ,placeholder: "Enter Steps to create Recipe", autofocus: true %>

			</div>
			<div class="form-group">
				<%= new.submit class: "btn btn-primary btn-xlarge"%>
			</div>

		<% end %>

		<div class="col-md-4 col-md-offset-4 colormatch">
		[<%= link_to "Cancel and go back", recipes_path %>]
		</div>
	</div>
</div>
<hr/>