<%= render 'shared/page-title', title: @recipe.name %>
	
<div class="row">
	<div class="col-md-8">
		<h3> Description </h3>
		<hr/>
		<p style="font-size: 18px"><%= simple_format(@recipe.description.capitalize) %></p>

		<small style="font-size:10px">Created by <%= @recipe.chef.name %></small>
		<div class="pull-right">
			<%= link_to gravatar_for(@recipe.chef), recipe_path %>
			<small style="font-size:10px"><%= time_ago_in_words(@recipe.created_at)%>  ago</small>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-md-6">
		<% if logged_in? && (@recipe.chef==current_chef || current_chef.admin? ) %>
			<%= link_to "Edit this Recipe", edit_recipe_path(@recipe),class:"btn btn-warning"%>
			<%= link_to "Delete this Recipe", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure you want to delete this Recipe"}, class: "btn btn-danger" %>
		<% end %>
		<%= link_to "Go Back", recipes_path,class:"btn btn-primary"%>
	</div>
</div>
</div>
<hr/>
<br>
<br>